export default "
<div class=\ "panel panel-primary\" *ngIf=\ "product\">\n
    <div class=\ "panel-heading\">\n
        <h3 class=\ "panel-title\">Product Information</h3>\n </div>\n
    <div class=\ "panel-body\">\n
        <div class=\ "form-group\">\n <label for=\ "productName\">Product Name</label>\n <input id=\ "productName\" class=\ "form-control\" [(ngModel)]=\ "product.productName\" />\n </div>\n\n
        <div class=\ "form-group\">\n <label for=\ "introductionDate\">\n        Introduction Date\n      </label>\n <input id=\ "introductionDate\" class=\ "form-control\" [ngModel]=\ "product.introductionDate | date:'yyyy-MM-dd'\" (ngModelChange)=\
                "product.introductionDate = $event\"\n type=\ "date\" />\n </div>\n\n
        <div class=\ "form-group\">\n <label for=\ "price\">Price</label>\n <input id=\ "price\" class=\ "form-control\" [(ngModel)]=\ "product.price\" />\n </div>\n\n
        <div class=\ "form-group\">\n <label for=\ "url\">URL</label>\n <input id=\ "url\" class=\ "form-control\" [(ngModel)]=\ "product.url\" />\n </div>\n\n
        <div class=\ "form-group\">\n <label for=\ "categories\">Category</label>\n <select id=\ "categories\" name=\ "categories\" class=\ "form-control\" [(ngModel)]=\ "product.categoryId\">\n        <option *ngFor=\"let category of categories\" value=\"{{category.categoryId}}\">\n          {{category.categoryName}}\n        </option>\n      </select>\n
            </div>\n </div> \n
    <div class=\ "panel-footer\">\n <button class=\ "btn btn-primary\" (click)=\ "saveData()\">Save</button>\n <button class=\ "btn btn-default\" (click)=\ "cancel()\">Cancel</button>\n </div>\n</div>"