export default "
<div class="row\">
    <ul class="nav nav-tabs\">
        <li class="active\"><a href="#home\" data-toggle="tab\" aria-expanded="true\">Android</a></li>
        <li class="disabled\"><a>iOS</a></li> </ul>
    <div id="myTabContent\" class="tab-content\">
        <div class="tab-pane fade active in\" id="home\">
            <div class="row\">Download zip file to your Android device, unzip and install the application. </div>
            <div class="row\">After successful installation open it, log in as a user registered on this web site and click on start tracking.</div>
            <div class="row\">After few seconds you'll see your position on the map on this web site.</div>
            <div class="row\">For detailed instructions please watch the video</div>
            <div class="row\">If you have any issues or interested to know more, please let me know on email veljkovic.nenad@gmail.com</div>
            <div class="row\"><a href="https://drive.google.com/file/d/18lAaG9FgBUFDqGR82Ev_TsfpSZoF_MnB/view?usp=sharing\" class="btn btn-primary\">Download</a></div>
            <div class="row\"><a href="https://drive.google.com/file/d/18lAaG9FgBUFDqGR82Ev_TsfpSZoF_MnB/view?usp=sharing\" class="btn btn-primary\">Video</a></div> </div> </div> </div>"