export default "
<link rel=\ "stylesheet\" href=\ "https://unpkg.com/leaflet@1.3.4/dist/leaflet.css\"\n integrity=\ "sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==\"\n crossorigin=\ "\"/>\n
<link rel=\ "stylesheet\" href=\ "https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css\" />\n
<link rel=\ "stylesheet\" href=\ "https://github.com/jopfre/osmaps-radius/blob/master/main.js\">\n{{lat}}/{{lon}}\n
<!-- <input id=\"price\" class=\"form-control\" [(ngModel)]=\"lat\" />\n<input id=\"price1\" class=\"form-control\" [(ngModel)]=\"lon\" />\n<button class=\"btn btn-primary\" (click)=\"watchLocation()\">Search</button>\n<h4 *ngIf=\"isGeoLocationSupported\">You location is {{ location$ |\n  async }}</h4> -->\n
<div id=\ "map\" class=\ "map\"></div>\n"